$white: hsl(0, 0%, 100%);
$dk_cyan: hsl(185, 75%, 39%);
$vdk_blue: hsl(229, 23%, 23%);
$dk_grayish_blue: hsl(227, 10%, 46%);
$dk_gray: hsl(0, 0%, 59%);
$lt_gray: hsla(0, 0%, 59%, .2);
$black: hsla(0, 0%, 0%, .1);

$font_size: 18px;

$font: 'Kumbh Sans', sans-serif;

@mixin responsive {
    @media screen and (min-width: 756px) {
        @content;
    }
}